<?php

/**
 * Development-only configuration.
 *
 * Put settings you want enabled when under development mode in this file, and
 * check it into your repository.
 *
 * Developers on your team will then automatically enable them by calling on
 * `composer development-enable`.
 */

$host = (isset($_SERVER['HTTP_HOST']) ? $_SERVER['HTTP_HOST'] : '');
$ip = (isset($_SERVER['REMOTE_ADDR']) ? $_SERVER['REMOTE_ADDR'] : '');

return [
    'graylog' => [
        'host' => 'graylog.lc',
        'port' => '12202',
        'protocol' => 'TCP',
        'facility' => 'Dinamicus. HOST: ' . $host . ' IP:' . $ip,
    ]
];
